.contacts {
  width: 50%;
  padding-left: 124px;
  color: $secFontColor;

  & h2 {
    margin: 0;
    margin-bottom: 46px;
  }

  &__data {
    position: relative;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    list-style: none;

    & a:hover {
      border-bottom: 1px solid $darkBG;
    }

    &::before {
      content: "";
      position: absolute;
      height: 80%;
      width: 1px;
      top: 4px;
      left: 50%;
      background-color: gray;
    }

    & li {
      margin-bottom: 18px;
      min-width: 36%;

      &:nth-child(2n-1) {
        margin-right: auto;
      }
    }

    & p {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      margin-bottom: 2px;
    }

    & .contacts__data-spec {
      color: $secFontColor;
      line-height: 1;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .contacts {
    width: 100%;
    padding-left: 88px;
    padding-top: 67px;
    padding-bottom: 29px;

    &__data {
      & li {
        margin-bottom: 21px;
        padding-right: 7%;
        min-width: 47%;
      }

      &::before {
        left: 45%;
      }
    }

    & h2 {
      margin-bottom: 35px;
    }

    & p {
      font-size: 20px;

      margin-bottom: 10px;
    }

    & .contacts__data-spec {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .contacts {
    width: 100%;
    padding-left: 0;
    padding-bottom: 31px;

    &__data {
      & li {
        width: 100%;

        &.last-order {
          order: 1;
        }
      }

      &::before {
        display: none;
      }
    }
  }
}
