.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 60px;
}

@media screen and (max-width: $tabletWidth) {
  .container {
    max-width: $tabletWidth;
    padding: 0 45px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .container {
    max-width: $phoneWidth;
    min-width: 320px;
    padding: 0 15px;
  }
}
