.footer {
  background-color: #030a1a;
  padding: 40px 0;

  &__inner {
    display: flex;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 75%;

    & li {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      &.footer__logo {
        margin-right: 276px;
        order: -1;
      }

      &.order {
        order: -1;
      }
    }
  }

  &__link {
    color: $mainFontColor;

    &:hover {
      border-bottom: 1px solid #ffffff;
    }
  }

  &__socials {
    display: flex;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;

    & li {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__socials-link {
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;

    &--vk {
      background-image: url("../img/vk.png");
    }

    &--ig {
      background-image: url("../img/ig.png");
    }

    &--fb {
      background-image: url("../img/fb.png");
      width: 12px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .footer {
    background-color: #030a1a;
    padding: 44px 0;

    &__links {
      & li {
        margin-right: 30px;

        &.footer__logo {
          margin-right: 62px;
        }
      }
    }

    &__socials {
      & li {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .footer {
    padding: 49px 0;

    &__inner {
      flex-wrap: wrap;
    }

    &__links {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 18px;

      & li {
        font-size: 16px;
        width: calc(50% - 15px);
        margin: 0;
        margin-bottom: 15px;

        &.footer__logo {
          margin-right: 0;
        }

        &.order {
          order: 0;
        }
      }
    }

    &__socials {
      margin-left: 0;

      & li {
        margin-right: 35px;
      }
    }

    &__socials-link {
      height: 27px;

      &--vk {
        width: 32px;
      }

      &--ig {
        width: 27px;
      }

      &--fb {
        width: 14px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
