.header {
  padding-top: 28px;
  font-family: $secFont;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: bold;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__phone {
  color: #ffffff;
  margin-right: 3px;

  &:hover {
    color: aqua;
  }
}

@media screen and (max-width: $tabletWidth) {
  .header {
    padding-top: 38px;
    padding-bottom: 20px;
    font-size: 24px;
  }

  .header__phone {
    margin: 0;
  }
}

@media screen and (max-width: $phoneWidth) {
  .header {
    font-size: 20px;
    padding-top: 18px;
  }
}
