.offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 7px solid transparent;
  border-image: linear-gradient(to bottom right, #d10a42, #00359f);
  border-image-slice: 1;
  padding: 19px 20px 28px 28px;
  min-height: 211px;

  & p {
    font-weight: bold;
    font-size: 26px;
    margin: 0;
  }

  & span {
    font-size: 16px;
    margin-bottom: auto;
  }

  & a {
    color: $secFontColor;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-bottom: 1px solid $secFontColor;
    align-self: flex-start;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .offer {
    width: calc(50% - 30px);
    padding: 19px 20px 28px 28px;
    min-height: 211px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .offer {
    width: 100%;
    padding: 29px 28px 39px 28px;
    text-align: center;

    & a {
      align-self: center;
    }

    & p {
      margin-bottom: 3px;
    }
  }
}
