.tabs {
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 338px;
  justify-content: space-between;
  align-items: flex-start;

  & li {
    opacity: 0.5;
    font-size: 20px;
    cursor: pointer;

    &.active {
      opacity: 1;
    }

    &.tabs__bar {
      width: 100%;
      opacity: 1;
      position: relative;
      top: 11px;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: rgba($color: $darkBG, $alpha: 0.3);
    }

    & .tabs__bar-line {
      position: absolute;
      width: 15%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #d10a42;
      z-index: 1;
      transition: left 0.2s ease-in, width 0.3s linear;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .tabs {
    width: 100%;
    max-width: 332px;

    & li {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .tabs {
    max-width: auto;

    & li {
      font-size: 16px;
    }
  }
}
