*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  font-family: $mainFont;
  color: $mainFontColor;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.gradient-bg {
  // background: url("../img/bg.jpg") center no-repeat #511fc4e5;
  // background-size: cover;
  background: radial-gradient(63.97% 65.22% at 21.03% 74.06%, #003d85, #b80027);
}

.column {
  display: flex;
  flex-direction: column;
}
