*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  font-family: $mainFont;
  color: $mainFontColor;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.gradient-bg {
  // background: url("../img/bg.jpg") center no-repeat #511fc4e5;
  // background-size: cover;
  background: url("../img/trainer.jpg"),
    radial-gradient(63.97% 65.22% at 21.03% 74.06%, #003d85, #b80027);
  background-repeat: no-repeat;
  background-size: 500px 556px, 100% 100%;
  background-position: calc(65%) 52px, 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.half-bg {
  background: linear-gradient(to right, $darkBG 50%, #ffffff 50%);
  padding-top: 65px;
  padding-bottom: 32px;
  border-top: 1px solid rgba($color: $darkBG, $alpha: 0.5);
}

.info-row {
  display: flex;
}

@media screen and (max-width: $tabletWidth) {
  .gradient-bg {
    background-size: 324px 390px, 100% 100%;
    background-position: calc(90%) 82px, 100%;
  }

  .half-bg {
    background: none;
    position: relative;
    padding: 0;
    border-top: none;
  }

  .info-row {
    flex-direction: column;
  }
}

@media screen and (max-width: $phoneWidth) {
  .gradient-bg {
    background: radial-gradient(63.97% 65.22% at 21.03% 74.06%, #003d85, #b80027);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
