$mainFont: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
$secFont: "Bebas Neue", "Helvetica", "Arial", sans-serif;

$mainFontColor: #ffffff;
$secFontColor: #102654;
$mainFontSize: 18px;
$mainFontWeight: 400;
$desktopWidth: 1024px;
$tabletWidth: 1199px;
$phoneWidth: 767px;
$mainBG: #ffffff;
$lightBG: #f8f9fc;
$darkBG: #102654;
$secondaryBGColor: #1b2d37;
$retinaDpi: 144dpi;
$retinaDppx: 1.5dppx;
